@tailwind base;
@tailwind components;
@tailwind utilities;

/* Для остальных браузеров */
/* Цвет полосы прокрутки */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #6161ff; /* Цвет полосы прокрутки */
    border-radius: 5px;
}

/* Цвет фона */
::-webkit-scrollbar-track {
    background-color: rgb(17 24 39);
}
