.idea
server/node_modules
server/*.json

client/node_modules
client/*.json
client/.prettierrc
client/*.d.ts
client/*.config.*
client/.eslintrc.cjs
client/src/vite-env.d.ts

#Currently using Plotly.js
client/src/components/Chart/ReCharts

client/src/assets/*.svg